pytest
pylint
ipdb
jupyterlab
numpy==1.26.4
pandas
matplotlib
seaborn
scikit-learn
uvicorn
fastapi
docker
streamlit
gcsfs
google-cloud-storage

--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.0+cpu
torchvision==0.17.0+cpu

ultralytics==8.1.0
